.task {
    padding: 20px;
    border: 1px solid #ccc;

    display: flex;
    justify-content: space-between;
    gap: 10px;

    &__body {
        flex-grow: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__status {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 1px solid black;
        background-color: transparent;

        &--done {
            background-color: green;
        }
    }
}