.calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    
    @media (max-width: 991px) {
        padding: 5px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 991px) {
            justify-content: center;
        }
    }

    &__title {
        padding-block: 10px;

        @media (max-width: 991px) {
            font-size: 22px;
        }
    }

    &__body {
        flex-grow: 1;
    
        display: grid;
        max-width: 1200px;
        width: 100%;
        margin-inline: auto;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 14%;
    }

    &__button {
        padding: 15px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid #ccc;

        cursor: pointer;
        
        &:hover {
            border: 1px solid #92afeb;
        }
    }

    &__day-name {
        padding: 20px;
        font-weight: bold;
        height: 20%;

        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #333;
        color: #ccc;

        @media (max-width: 991px) {
            padding: 15px;
        }
    }
}