.day {
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    overflow: hidden;

    border: 1px solid #ccc;

    cursor: pointer;


    @media screen and (max-width: 440px) {
        aspect-ratio: unset;
    }

    &--today {
        background-color: #92afeb;
    }

    &--off {
        background-color: rgb(235, 185, 185);
    }

    &:hover {
        border: 1px solid #92afeb;
    }

    &__task {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &--true {
            background-color: lightgreen;
        }
    }
  }