.day {
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #ccc;

    cursor: pointer;


    @media screen and (max-width: 440px) {
        aspect-ratio: unset;
    }

    &--today {
        background-color: #92afeb;
    }

    &:hover {
        border: 1px solid #92afeb;
    }
  }