.new-task-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: 10px;

    &__input {
        &#task {
            resize: none;
            height: 100px;
        }
    }
}