.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-height: 100vh;
}

.task-list-container {
    padding-inline: 30px;
    max-height: 60%;
    overflow-x: scroll;
}