.task-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 30px;
    overflow-x: auto;
    max-height: 100%;

    &--mobile {
        max-height: 60%;
    }

    &__header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    &__body {
        overflow-y: auto;
        flex: 1;
    }

    &__create-button {
        position: sticky;
        top: 0;
        width: 100%;
        margin-bottom: 15px;
        z-index: 2;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }
}